body{
    background-color: #EF9A9A;
}
.puntaje {
    background-color: #FFEBEE; /* Color de fondo */
    border-radius: 15px;      /* Borde redondeado */
    padding: 10px;            /* Espaciado interno */
    border: 1px solid #050505; /* Borde de color gris claro */
}
.equipo{
    background-color: #FFEBEE; /* Color de fondo */
    border-radius: 15px;      /* Borde redondeado */
    padding: 1px;            /* Espaciado interno */
    border: 1px solid #050505; /* Borde de color gris claro */
}
.container{
    background-color: #FFCDD2;
}
.red-bg{
    background-color: rgb(222, 80, 80) !important;
}
.green-bg{
    background-color: rgb(75, 223, 75) !important;
}
